extends ../layouts/application.pug

block header
  = t('layouts.application.createStatus')

block content
  +formFor()(action=route(`statuses#create`) method='post').mb-3
    +input(taskStatus, 'name', t('views.placeholders.name'), errors)(type='text')
    +submit(taskStatus)(value=t('views.statuses.new.submit'))
