extends ../layouts/application.pug

block content
  .form-signin
    h1.h3.mb-3.fw-normal= t('views.session.new.signIn')
    +formFor()(action=route('session#create') method='post')
      +input(signInForm, 'email', t('views.placeholders.email'), errors)(type='text')
      +input(signInForm, 'password', t('views.placeholders.password'))(type='password')
      +submit(signInForm)(value=t('views.session.new.submit'))
